{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Expenses List</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Date</th>
                <th>Expense Type</th>
                <th>Amount</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.expense_type }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.description }}</td>
                    <td>
                        <button onclick="loadExpenseForEdit({{ expense.id }})" class="btn btn-primary p-1">Edit</button>
                        <button class="btn btn-danger p-1" onclick="deleteExpense({{ expense.id }})">Delete</button>
                    </td>
                </tr>
                <tr id="edit-row-{{ expense.id }}" style="display: none;">
                    <td colspan="12">
                        <!-- فرم ویرایش -->
                        <form id="editExpenseForm-{{ expense.id }}" method="post" class="row">
                            {% csrf_token %}

                            <div class="col col-4 form-group">
                                <label for="edit_date_{{ expense.id }}">date</label>
                                <input type="date" class="form-control" id="edit_date_{{ expense.id }}"
                                       name="date" required>
                            </div>
                            <div class="col col-4 form-group">
                                <label for="edit_expense_type_{{ expense.id }}">Expense Type</label>
                                <select class="form-control" id="edit_expense_type_{{ expense.id }}"
                                        name="expense_type">
                                    {% for key, value in expense_types %}
                                        <option value="{{ key }}"
                                                {% if key == expense.expense_type %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="col col-4 form-group">
                                <label for="edit_amount_{{ expense.id }}">amount</label>
                                <input type="number" class="form-control" id="edit_amount_{{ expense.id }}"
                                       name="amount" required>
                            </div>

                            <div class="col col-4 form-group">
                                <label for="edit_description_{{ expense.id }}">description</label>
                                <input type="text" class="form-control" id="edit_description_{{ expense.id }}"
                                       name="description" required>
                            </div>

                            <div class="align-items-center d-flex justify-content-end">
                                <button type="button" class="btn btn-success"
                                        onclick="saveEditedExpense({{ expense.id }})">
                                    Save Changes
                                </button>
                                <button type="button" class="btn btn-secondary" onclick="cancelEdit({{ expense.id }})">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No expenses found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3 id="form-title">Add New expense</h3>
        <form id="expenseForm" method="post" action="{% url 'cinema:expense-create' %}">
            {% csrf_token %}


            <div class="form-group">
                <label for="expense_type">Expense Type</label>
                <select class="form-control" id="expense_type" name="expense_type" required>
                    {% for key, value in expense_types %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="date">date</label>
                <input type="date" class="form-control" id="date" name="date" value="{{ date }}" required>
            </div>

            <div class="form-group">
                <label for="amount">amount</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
            </div>


            <div class="form-group">
                <label for="description">description</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <button type="submit" class="btn btn-success">Save expense</button>
            <button type="button" class="btn btn-secondary" id="cancelEdit" onclick="resetForm()"
                    style="display: none;">Cancel
            </button>
        </form>

    </div>


    <script>
        function deleteExpense(expenseId) {
            if (confirm('Are you sure you want to delete this expense?')) {
                fetch(`{% url 'cinema:expense-delete' 0 %}`.replace('0', expenseId), {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Expense deleted successfully');
                            window.location.reload();
                        } else {
                            alert('Failed to delete expense');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        }

    </script>
    <script>
        function loadExpenseForEdit(expenseId) {
            const url = `{% url 'cinema:expense-edit-api' 0 %}`.replace('0', expenseId);

            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Expense not found');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);

                    const expense = data.expenses;
                    const movies = data.movies;

                    if (expense) {
                        document.getElementById('edit_date_' + expenseId).value = expense.date;
                        document.getElementById('edit_expense_type_' + expenseId).value = expense.expense_type;
                        document.getElementById('edit_amount_' + expenseId).value = expense.amount;
                        document.getElementById('edit_description_' + expenseId).value = expense.description || '';
                        document.getElementById('edit-row-' + expenseId).style.display = 'table-row';
                    } else {
                        console.error('Expense data is missing');
                    }
                })
                .catch(error => console.error('Error loading expense for edit:', error));
        }

        function cancelEdit(expenseId) {
            document.getElementById('edit-row-' + expenseId).style.display = 'none';
        }

        function saveEditedExpense(expenseId) {
            const data = {
                expense_type: document.getElementById('edit_expense_type_' + expenseId).value,
                amount: document.getElementById('edit_amount_' + expenseId).value,
                date: document.getElementById('edit_date_' + expenseId).value,
                description: document.getElementById('edit_description_' + expenseId).value,
            };

            const url = `{% url 'cinema:expense-edit-api' 0 %}`.replace('0', expenseId);

            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json().then(data => ({
                    status: response.status,
                    body: data
                }))) // Get status and body
                .then(result => {
                    if (result.status === 200) {
                        alert('Expense updated successfully');
                        window.location.reload();
                    } else {
                        console.error('Failed to update expense:', result.body);  // Log the detailed error
                        alert('Failed to update expense: ' + JSON.stringify(result.body));
                    }
                })
                .catch(error => console.error('Error updating expense:', error));
        }
    </script>
{% endblock %}
